.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.body {
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.icon {
  cursor: pointer;
}
